
@media (width<=508px){
  header ul {
    margin-left:1em;
  }
.hero-heading br{
  display:none;
}
.hero-paragraph{
  text-align:center;
  
}
.break{
  display:none;
}
.hero-heading{
  text-align:center;
}
.feature-container{
  flex-direction:column;
}
.stay-productive{
  flex-direction:column;
}
.testimonials{
  flex-direction:column;
  padding:1em 1em 15em 1em;
}
.main-footer-container{
  flex-direction:column;
}
.telephone{
  flex-direction:column;
  align-items:flex-start;
  margin-top:2em;
}
.input-section{
  flex-direction:column;
  gap:.5em;
}
footer{
  padding:15em 1em 2em;
}
.footer-navs-first{
  margin:2em 0 2em 0;
}
.get-early-access-today{
  width:90%;
  bottom:-160px;
}
}