*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
p,a{
  line-height:2em;
  font-family:"Outfit",sans-serif;
  font-weight:400;
  font-size:1rem;
}
a{
  font-weight:600;
}
h1,h2{
  font-family:"Outfit",sans-serif;
  font-weight:700;
}
body{
  background:hsl(219, 30%, 18%);
}
.container-main{
  max-width:960px;
  width:90%;
  margin:0 auto;
  position:relative;
}
.nav-links li {
  list-style-type:none;
}

a {
  text-decoration:none;
  color:white;
}
header{
  display:flex;
  justify-content:space-between;
  margin-top:.5em;
}
.nav-links{
  display: flex;
  width:55vw;
  justify-content:space-between;
  align-items:center;
}
.hero-section{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  padding-bottom:1em;
  background-image: url('./Assets/bg-curvy-desktop.svg');
  background-repeat: no-repeat;
  background-position:bottom;
}
img{
  max-width:100%;
}
.hero-heading, .hero-paragraph,button{
  color:white;
}
.hero-heading{
  margin-bottom:1.5em;
}
.hero-paragraph{
  margin-bottom:2.5em;
}
.cta-button button{
  all:unset;
  background:hsl(198, 60%, 50%);
  color:white;
  padding:1em 3.5em;
  border-radius:20px;
  font-family:"Outfit",sans-serif;
}
section.features{
  background:hsl(218, 28%, 13%);
  display:flex;
  flex-direction:column;
}
.features .feature-container{
  display:flex;
}
.feature{
   text-align:center;
   padding:4em;
}
.feature-paragraph{
  color:white;
}
.feature-heading{
  color:white;
  margin:1.5em 0 1.5em;
}

.stay-productive{
  display: flex;
  background:hsl(218, 28%, 13%);
  color:white;
  padding-bottom:5em;
}
.stay-productive-heading{
  margin:1.5em 0 1.5em;
}
.stay-productive-content{
  padding-left:2em;
}
.stay-productive-paragraph{
  margin-bottom:1rem;
}
.logo{
  width:80px;
}
.stay-productive-link{
  color:hsl(176, 68%, 64%);
  
}

.active-component div{
  display:flex;
  align-items:center;
}
.author-image{
  border-radius:50%;
  height:30px;
  object-fit:cover;
  align-self:flex-end;
}
.testimonial-owner{
  display: flex;
  gap:1em;
}
.testimonials{
  display:flex;
  gap:1em;
  padding:5em 1em 15em;
  background:hsl(218, 28%, 13%);
  position:relative;
}
.testimony{
  background:hsl(219, 30%, 18%);
  padding:1.5em;
  color:white;
}
.testimonial-paragraph{
  line-height:1.2em;
  font-size:1rem;
}
.author{
  font-weight:600;
  margin-top:1rem;
 
}
.job-title{
  line-height:.5em;
}
.quotes-testimony{
  position:relative;
}
.quotes{
  position:absolute;
  bottom:95%;
  left:-15px;
}
.arrow{
  width:25px;
  aspect-ratio:1/1;
  align-self:center;
}
.footer-navs li{
  list-style-type:none;
}
footer{
  background:hsl(216, 53%, 9%);
  padding:6em 0 0 0;
}
.main-footer-container{
  display: flex;
  justify-content: space-between;
}
.location{
  display:flex;
  color:white;
  gap:1em;
}
.telephone{
  display:flex;
  flex-direction:column;
  color:white;
  gap:.5em;
}
.footer-logo{
  margin:2em 0 2em 0;
}
.get-early-access-today{
  position: absolute;
  background:hsl(219, 30%, 18%);
  left:50%;
  transform:translateX(-50%);
  bottom:-80px;
  padding:1.5em;
  width:70%;
}
.get-early-heading{
  text-align:center;
  margin-bottom:1em;
}
.get-early-paragraph{
  text-align:center;
  line-height:1.2em;
}
.get-early-paragraph br {
  display:none;
}
.input-section{
  display:flex;
  justify-content:center;
  margin-top:1.5em;
}
input{
  border:none;
  padding:1em 2.5em;
  border-radius:20px;
}
.input-section button{
  all:unset;
  background:hsl(198, 60%, 50%);
  color:white;
  padding:1em 2.5em;
  border-radius:20px;
  margin-left:.5em;
  font-family:"Outfit",sans-serif;
  outline:none;
}
.first,.second{
  display:flex;
  align-items:center;
  justify-content:center;
  gap:1rem;
}